---
apiVersion: v1
kind: Secret
metadata:
  name: digitalocean-dns
  # secret for ClusterIssuer must be in the same namespace as cert-manager
  namespace: cert-manager
data:
  # insert your DO access token here
  access-token: "${DIGITAL_OCEAN_ACCESS_TOKEN}"
